.git
.gitignore
.venv
venv
__pycache__
*.pyc
.pytest_cache
.ipynb_checkpoints

notebooks
test
tests
docs

.env

data/silver
data/gold
data/quarantine
data/streaming/silver
data/streaming/quarantine
data/streaming/checkpoints

outputs
notas_tecnicas